<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Cryptocash Dashboard - ICO & Cryptocurrency Landing Page HTML + Dashboard Template</title>
<!-- Favicon Icon -->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png">
<!-- Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<!-- Icon Fonts-->
<link href="vendor/webfont/css/cryptocoins.css" rel="stylesheet" type="text/css">
<link href="vendor/webfont/css/simple-line-icons.css" rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="css/admin.css" rel="stylesheet">
<link rel="icon" href="images/logo.ico"/>
<script src="js/ajax.js"></script>