<% if(data.isLogin) { %>
    <div class="row padding-20" style="margin-bottom: 50px">
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">ACCOUNT</div>
                <div class="card-body">
                    <div class="row">
                        <h6 class="my-4 text-center text-uppercase">You have logged in <%= data.username %></h6>
                        <h6 class="my-4 text-center text-uppercase margin-left-30">
                            <a class="btn-logout" href="/account/logout">Logout</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">XBFIRM PROCESS</div>
                <div class="card-body">
                    <div class="row padding-20">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Running</label>
                                <img id="ledRunning" class="led" src="images/icon_off.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Signal from Pilot App</label>
                                <img class="led" id="ledPilot" src="images/icon_off.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Camera status</label>
                                <img class="led" id="ledCamera" src="images/icon_off.png">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Serial status</label>
                                <img class="led" id="ledSerial" src="images/icon_off.png">
                            </div>
                        </div>
                    </div>
                    <div class="row padding-20">
                        <div class="col-sm-2">
                            <div class="row">
                                <label class="font-weight-bold">Internet</label>
                                <img id="ledInternet" class="led" src="images/icon_off.png">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <label class="font-weight-bold">APN name: </label>
                                <label class="margin-left-30" id="apn">Unknown</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">RSSI: </label>
                                <label class="margin-left-30" id="rssi">Unknown</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Network: </label>
                                <img id="network" class="wifi" src="images/icon_wifi_0.png">
                            </div>
                        </div>
                    </div>
                    <div class="row padding-20" style="margin-left: 10px">
                        <div class="col-sm-3" id="areaStartProcess">
                            <div class="row">
                                <form id="" class="form-horizontal row mt-2" action="/account/start"
                                      method="GET">
                                    <button class="btn btn-success">Start Process</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3" id="areaStopProcess">
                            <div class="row">
                                <form id="" class="form-horizontal row mt-2" action="/account/stop"
                                      method="GET">
                                    <button class="btn btn-danger">Stop Process</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3" id="areaConnectingProcess">
                            <div class="row">
                                <button class="btn">Connecting...</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row padding-20">
                                <a id="networkNotification" class="btn-link" href="/network"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">Message</div>
                <div class="card-body">
                    <textarea id="message" class="row padding-20"></textarea>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">Encryption</div>
                <div class="card-body">
                    <form class="form-horizontal row mt-2" action="/encryption" method="POST">
                        <div class="col-xl-6 col-lg-12  col-sm-12">
                            <div class="form-group">
                                <label>Algorithm</label>
                                <div>
                                    <% if(data && data.algorithm == "1") { %>
                                        <div>
                                            <input type="radio" id="hat" name="algorithm" value="1" checked>
                                            <label for="hat">AES encryption (ECB 256)</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="normal" name="algorithm" value="0">
                                            <label for="normal">None</label>
                                        </div>
                                    <% } else { %>
                                        <div>
                                            <input type="radio" id="normal" name="algorithm" value="1">
                                            <label for="normal">AES encryption (ECB 256)</label>
                                        </div>
                                        <div>
                                            <input type="radio" id="normal" name="algorithm" value="0"
                                                   checked>
                                            <label for="normal">None</label>
                                        </div>
                                    <% } %>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 text-left">
                            <button type="submit" class="btn btn-border mt-2">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card mb-4">
                <div class="card-header">Camera</div>
                <div class="card-body">
                    <form id="codecForm">
                        <div class="col-xl-6 col-lg-12  col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold">Auto start camera</label>
                                <div>
                                    <input type="radio" id="codec" name="codec" value="0">
                                    <label for="hat">None</label>
                                </div>
                                <div>
                                    <input type="radio" id="codec" name="codec" value="1">
                                    <label for="normal">H264</label>
                                </div>
                                <div>
                                    <input type="radio" id="codec" name="codec" value="2">
                                    <label for="normal">MPEG-TS</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="lr_wrap">
        <div class="card-body">
            <h6 class="my-4 text-center text-uppercase">Login to XBFirm</h6>
            <form action="/account" method="POST">
                <div class="form-group">
                    <label>Internet status</label>
                    <img id="ledInternet" class="led" src="images/icon_off.png">
                    <p id="internetStatusTxt" class="text-danger">Please provide the internet access before authentication</p>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" placeholder="Enter username"
                           required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password"
                           placeholder="Enter password"
                           required>
                </div>
                <!-- <div class="form-row align-items-center"> -->
                <div class="form-group">
                    <label for="ipServer">IP Server</label>
                    <input class="form-control" id="ipServer" name="server" type="type"
                           placeholder="Enter ip or domain server" value="http://server.xbstation.com:8006" required>
                </div>
                <!-- <div class="form-group col-sm-4">
                        <button type="button" class="btn btn-primary mb-2">Default</button>
                    </div>
                </div> -->
                <button type="submit" class="btn btn-default btn-block">Login</button>
            </form>
            <div class="text-center mt-3 justify-content-between d-md-flex">
                <a class="d-block small" href="https://xb-uav.com" target="_blank">Register an Account</a>
            </div>
        </div>
    </div>
<% } %>

<script>
  const EVENT_BEAT = '00';
  const EVENT_STATUS = '01';
  const EVENT_CELLULAR = '02';
  const EVENT_CHANGE_VIDEO_CODEC = '03';
  const EVENT_MESSAGE = '04';
  const EVENT_MESSAGE_INIT = '05';
  const EVENT_RECONNECT = '06';
  const EVENT_STATUS_PILOT = '07';
  const EVENT_STATUS_SERIAL = '08';
  const EVENT_STATUS_CAMERA = '09';
  let host = window.location.href;
  host = host.replace(":3000/", "");
  host = host.replace("http://", "");
  host = host.replace("account", "");

  $(document).ready(function () {
    const networkType = '<%= data.networkType %>';
    const apnName = '<%= data.apnName %>';
    let currentVideoCodec = -1;
    let connectionInterval;
    let getDataInterval;
    let socket = undefined;
    let isLedRunning = false;
    let isLedPilot = false;
    let isLedCamera = false;
    let isLedSerial = false;
    let isInternetConnected = false;
    let currentAPNName = '';
    let beatCounter = 0;

    $('input[type=radio][name=codec]').change(function () {
      if (this.value != currentVideoCodec) {
        currentVideoCodec = this.value;
        socket.send(`${EVENT_CHANGE_VIDEO_CODEC}${this.value}`)
      }
    });


    function sleep(time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    }

    function heartbeat() {
      beatCounter++;
      if (!socket) return;
      if (socket.readyState !== 1) {
        beatCounter = 0;
        socket.close();
      } else {
        if (beatCounter >= 2) {
          beatCounter = 0;
          socket.close();
        } else {
          socket.send(EVENT_BEAT);
          setTimeout(heartbeat, 1500);
        }
      }
    }

    const onMessage = event => {
      if (event.data && event.data.length >= 2) {
        const id = event.data.substr(0, 2);
        if (id == EVENT_STATUS) {
          if (event.data.length >= 5) {
            const pilotStatus = event.data.substr(2, 1) == '1' ? true : false;
            const cameraStatus = event.data.substr(3, 1) == '1' ? true : false;
            const serialStatus = event.data.substr(4, 1) == '1' ? true : false;
            if (event.data.length >= 6) {
              const videoCodec = event.data.substr(5, 1);
              onVideoCodec(videoCodec);
            }
            turnOnCameraLed(cameraStatus);
            turnOnPilotLed(pilotStatus);
            turnOnSerialLed(serialStatus);
          }
        } else if (id == EVENT_CELLULAR) {
          const data = event.data.substr(2, event.data.length - 2);
          const list = data.split("#");
          if (list.length >= 2) {
            const _rssi = list[0];
            $("#rssi").text(_rssi);
            if (_rssi >= 28) {
              $("#network").attr('src', 'images/icon_wifi_4.png')
            } else if (_rssi >= 24) {
              $("#network").attr('src', 'images/icon_wifi_3.png')
            } else if (_rssi >= 19) {
              $("#network").attr('src', 'images/icon_wifi_3.png')
            } else if (_rssi >= 14) {
              $("#network").attr('src', 'images/icon_wifi_2.png')
            } else if (_rssi >= 9) {
              $("#network").attr('src', 'images/icon_wifi_2.png')
            } else if (_rssi >= 2) {
              $("#network").attr('src', 'images/icon_wifi_1.png')
            } else {
              $("#network").attr('src', 'images/icon_wifi_0.png')
            }
            $("#apn").text(list[1]);
            currentAPNName = list[1];
            checkNetworkNotification();
          }
        } else if (id == EVENT_MESSAGE) {
          const data = event.data.substr(2, event.data.length - 2);
          let text = $("#message").html();
          text += `\n${data}`
          $("#message").html(text);
          $("#message").scrollTop($("#message")[0].scrollHeight);
        } else if (id == EVENT_MESSAGE_INIT) {
          const data = event.data.substr(2, event.data.length - 2);
          $("#message").empty();
          $("#message").html(data);
        }
        else if (id == EVENT_BEAT) {
          beatCounter = 0;
        }
        else if (id == EVENT_STATUS_SERIAL) {
          if (event.data.length >= 3) {
            const status = event.data.substr(2, 1) == '1' ? true : false;
            turnOnSerialLed(status);
          }
        }
        else if (id == EVENT_STATUS_PILOT) {
          if (event.data.length >= 3) {
            const status = event.data.substr(2, 1) == '1' ? true : false;
            turnOnPilotLed(status);
          }
        }
        else if (id == EVENT_STATUS_CAMERA) {
          if (event.data.length >= 3) {
            const status = event.data.substr(2, 1) == '1' ? true : false;
            turnOnCameraLed(status);
          }
        }
      }

    }

    const onOpen = event => {
      socket.onmessage = onMessage;
      socket.onclose = onClose;
      socket.oneror = onError;
      $('input[type=radio][name=codec]').removeAttr('disabled');
      turnOnRunningLed(true);
      getDataInterval = setInterval(() => {
        getData();
      }, 3000);
      heartbeat();
    }

    const onClose = event => {
      $('input[type=radio][name=codec]').attr('disabled', 'disabled');
      clearInterval(getDataInterval);
      turnOnRunningLed(false);
      turnOnSerialLed(false);
      turnOnCameraLed(false);
      turnOnPilotLed(false);
      $("#rssi").text('Unknown');
      $("#apn").text('Unknown');
      $("#network").attr('src', 'images/icon_wifi_0.png');
      connectToFirm('<%= data.ipAddress %>');
    }

    const onError = event => {
        console.log("on error");
    }

    const connectToFirm = url => {
      if (socket) {
        socket.close();
      }
      socket = new WebSocket(`ws://${host}:3001`);
      socket.onopen = onOpen;
      socket.onclose = onClose;
      socket.onerror = onError;
    }

    const onVideoCodec = codec => {
      if (currentVideoCodec != codec) {
        currentVideoCodec = codec;
        const $radios = $('input:radio[name=codec]');
        if ($radios.is(':checked') === false) {
          $radios.filter(`[value=${codec}]`).prop('checked', true);
        }
      }
    }

    const turnOnRunningLed = isRunning => {
      if (isRunning != isLedRunning) {
        $("#ledRunning").attr('src', isRunning ? "images/icon_on.png" : "images/icon_off.png")
        isLedRunning = isRunning;
        if (isLedRunning) {
          $("#areaStartProcess").hide();
          $("#areaStopProcess").show();
          $("#areaConnectingProcess").hide();
        } else {
          $("#areaStopProcess").hide();
          $("#areaStartProcess").show();
          $("#areaConnectingProcess").hide();
        }
      }
    }

    const turnOnPilotLed = isRunning => {
      if (isRunning != isLedPilot) {
        $("#ledPilot").attr('src', isRunning ? "images/icon_on.png" : "images/icon_off.png")
        isLedPilot = isRunning;
      }
    }

    const turnOnCameraLed = isRunning => {
      if (isRunning != isLedCamera) {
        $("#ledCamera").attr('src', isRunning ? "images/icon_on.png" : "images/icon_off.png")
        isLedCamera = isRunning;
      }
    }

    const turnOnSerialLed = isRunning => {
      if (isRunning != isLedSerial) {
        $("#ledSerial").attr('src', isRunning ? "images/icon_on.png" : "images/icon_off.png")
        isLedSerial = isRunning;
      }
    }

    const checkInternetConnection = () => {
      let connected = window.navigator.onLine;
      if (connected != isInternetConnected) {
        isInternetConnected = connected;
        $("#ledInternet").attr('src', isInternetConnected ? "images/icon_on.png" : "images/icon_off.png")
        if (isInternetConnected) {
            $("#internetStatusTxt").hide();
        } else {
          $("#internetStatusTxt").show();
        }
      }

    }

    const getData = () => {
      socket.send(EVENT_STATUS);
      socket.send(EVENT_CELLULAR);
    }

    const checkNetworkNotification = () => {
      if (networkType == '0') {
        $("#networkNotification").text("Cellular module is disabled, click here to set up");
      } else if (networkType == '1') {
        if (!apnName) {
          $("#networkNotification").text("APN name is empty, click here to set up");
        } else {
          if (isLedRunning) {
            if (currentAPNName == "" || currentAPNName == "Unknown" || !apnName.includes(currentAPNName)) {
              $("#networkNotification").text("Cellular Configuration");
            }
          }
        }
      } else {
        $("#networkNotification").text("Cellular configuration is wrong, click here to set up");
      }
    }

    $("#areaStopProcess").hide();
    $("#areaStartProcess").show();
    $("#areaConnectingProcess").hide();
    $('input[type=radio][name=codec]').attr('disabled', 'disabled');

    checkNetworkNotification();
    connectToFirm('<%= data.ipAddress %>');
    setInterval(() => {
      checkInternetConnection();
    }, 3000);
  })


</script>
