<div class="row">
  <div class="col-xl-9 col-md-8">
    <div class="card mb-4">
      <div class="card-header">APN Setting</div>
      <div class="card-body">
        <form class="form-horizontal row mt-2" action="/apn" method="POST">
          <div class="col-xl-6 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>APN Name</label>
              <input type="text" class="form-control" name="apnName" placeholder="Enter APN name" value=""
                required="Please input APN name" autofocus="True">
            </div>
          </div>
          <div class="col-xl-3 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>Byte received</label>
              <input type="text" class="form-control" placeholder="" value="" disabled>
            </div>
          </div>
          <div class="col-xl-3 col-lg-12  col-sm-12">
            <div class="form-group">
              <label for="old-password">Byte sent</label>
              <input type="text" class="form-control" placeholder="" value="" disabled>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>RSSI</label>
              <input type="text" class="form-control" value="" disabled>
            </div>
          </div>
          <div class="col-xl-3 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>Model</label>
              <input type="text" class="form-control" placeholder="" value="" disabled>
            </div>
          </div>
          <div class="col-xl-3 col-lg-12  col-sm-12">
            <div class="form-group">
              <label for="old-password">Firmware</label>
              <input type="text" class="form-control" value="" disabled>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>Manufacturer</label>
              <input type="text" class="form-control" placeholder="ASUS" value="" disabled>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>IMSI</label>
              <input type="text" class="form-control" placeholder="" value="" disabled>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>APN username</label>
              <input type="text" class="form-control" placeholder="" disabled>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>APN password</label>
              <input type="password" class="form-control" placeholder="" disabled>
            </div>
          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-default mt-2">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>