<div class="row">
  <div class="col-xl-9 col-md-8">
    <div class="card mb-4">
      <div class="card-header">Encryption</div>
      <div class="card-body">
        <form class="form-horizontal row mt-2" action="/encryption" method="POST">
          <div class="col-xl-6 col-lg-12  col-sm-12">
            <div class="form-group">
              <label>Algorithm</label>
              <div>
                <% if(data && data.algorithm == "1") { %>
                  <div>
                    <input type="radio" id="hat" name="algorithm" value="1" checked>
                    <label for="hat">AES encryption (ECB 256)</label>
                  </div>
                  <div>
                    <input type="radio" id="normal" name="algorithm" value="0">
                    <label for="normal">None</label>
                  </div>
                <% } else { %>
                    <div>
                      <input type="radio" id="normal" name="algorithm" value="1">
                      <label for="normal">AES encryption (ECB 256)</label>
                    </div>
                    <div>
                      <input type="radio" id="normal" name="algorithm" value="0"
                             checked>
                      <label for="normal">None</label>
                    </div>
                  <% } %>
              </div>

            </div>
          </div>
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-default mt-2">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>