<div class="row">
  <div class="col-xl-4 col-sm-6 mb-4">
    <button class="box bg_primary" onclick="window.location.href='/network'">
      <div class="box-head d-flex align-items-center justify-content-between">
        <h3>Cellular Configuration</h3>
        <i title="BTC" class="cc ADA-alt"></i>
      </div>
    </button>
  </div>
  <div class="col-xl-4 col-sm-6 mb-4">
    <button class="box bg_primary" onclick="window.location.href='/account'">
      <div class="box-head d-flex align-items-center justify-content-between">
        <h3>XBFirm</h3>
        <i title="BTC" class="cc ADA-alt"></i>
      </div>
    </button>
  </div>
  <div class="col-xl-4 col-sm-6 mb-4">
    <button class="box bg_primary" onclick="window.location.href='/version'">
      <div class="box-head d-flex align-items-center justify-content-between">
        <h3>Version</h3>
        <i title="BTC" class="cc ADA-alt"></i>
      </div>
    </button>
  </div>
</div>
