<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/header') %>
    <style>
        .table {
            table-layout: fixed;
        }

        .project-row-action {
            background: #C4F5FE;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">
        XBStation
    </a>
    <div class="mobile_menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="icon-menu icons"></span>
        </button>
        <a href="#" class="navbar-toggler" data-toggle="collapse" data-target="#navbarheader"
           aria-controls="navbarheader"
           aria-expanded="false" aria-label="Toggle navigation"><i class="icon-options-vertical"></i></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarheader">
        <ul class="navbar-nav">
            <li class="nav-item d-none d-lg-block">
                <a class="nav-link text-center menubar" id="sidenavToggler">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0)" class="search_icon"><i class="fa fa-search"></i></a>
                <form class="form-inline search_input">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto align-items-center">

        </ul>
    </div>
    <div class="collapse navbar-collapse navbar-sidenav fc-scroll ps" id="navbarResponsive">
    </div>

</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="" style="margin-top: 100px">
            <div class="card mb-4">
                <div class="card-header">Simulator</div>
                <div class="card-body">
                    <div class="row padding-20">
                        <div class="col-sm-3">
                            <div class="row">
                                <label class="font-weight-bold">Running</label>
                                <% if(data && data.isSITLActived) { %>
                                    <img id="ledRunning" class="led" src="images/icon_on.png">
                                <% } else { %>
                                    <img class="led" id="ledPilot" src="images/icon_off.png">
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-20" style="margin-left: 10px">
                        <div class="col-sm-3" id="areaStartProcess">
                            <div class="row">
                                <% if(data && data.isSITLActived) { %>
                                    <form id="" class="form-horizontal row mt-2" action="/stop"
                                          method="POST">
                                        <button class="btn btn-danger">Stop Process</button>
                                    </form>
                            </div>
                            <% } else { %>
                                <form id="" class="form-horizontal row mt-2" action="/start"
                                      method="POST">
                                    <button class="btn btn-success">Start Process</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-4" style="margin-top: 20px">
            <div class="card-header">Vehicle</div>
            <div class="card-body">
                <div class="row padding-20">
                    <form action="/vehicle" method="POST">
                        <div class="form-group">
                            <input id="antennaTracker" name="vehicle" type="radio" value="AntennaTracker"
                            <% if(data && data.currentVehicle == "AntennaTracker") { %> checked <% } %> >
                            <label for="name">Antenna Tracker</label>
                        </div>
                        <div class="form-group">
                            <input id="arduPlane" name="vehicle" type="radio" value="ArduPlane"
                            <% if(data && data.currentVehicle == "ArduPlane") { %> checked <% } %>>
                            <label for="lat">ArduPlane</label>
                        </div>
                        <div class="form-group">
                            <input id="apmRover" name="vehicle" type="radio" value="ApmRover2"
                            <% if(data && data.currentVehicle == "ApmRover2") { %> checked <% } %>>
                            <label for="lng">APM Rover</label>
                        </div>
                        <div class="form-group">
                            <input id="arduCopter" name="vehicle" type="radio" value="ArduCopter"
                            <% if(data && data.currentVehicle == "ArduCopter") { %> checked <% } %>>
                            <label for="desc">ArduCopter</label>
                        </div>
                        <div class="form-group">
                            <input id="ardusub" name="vehicle" type="radio" value="Ardusub"
                            <% if(data && data.currentVehicle == "Ardusub") { %> checked <% } %>>
                            <label for="desc">ArduSub</label>
                        </div>
                        <button type="submit" class="btn btn-default btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-4" style="margin-top: 20px">
            <div class="card-header">Geo locations</div>
            <div class="card-body">
                <div class="row padding-20">
                    <div class="">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Description</th>
                                <th><i class="fa fa-superpowers"></i></th>
                                <th><i class="fa fa-superpowers"></i></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% if(data && data.geos) { %>
                                <% data.geos.forEach(function(geo) { %>
                                    <tr>
                                        <td><%= geo.name %></td>
                                        <td><%= geo.lat %></td>
                                        <td><%= geo.lng %></td>
                                        <td><%= geo.desc %></td>
                                        <td>
                                            <% if(data.currentGeoName != geo.name) { %>
                                                <form action="/active/<%= geo.name %>" method="POST">
                                                    <button type="submit"
                                                            class="btn btn-success btn-action-org-approve"
                                                            role="button">Active
                                                    </button>
                                                </form>
                                            <% } %>
                                        </td>
                                        <td>
                                            <form action="/delete/<%= geo.name %>" method="POST">
                                                <button type="submit" class="btn btn-danger btn-action-org-approve"
                                                        role="button">Delete
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-4" style="margin-top: 20px">
            <div class="card-header">Add Geo Location</div>
            <div class="card-body">
                <div class="row padding-20">
                    <form action="/" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="Enter NAme"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="lat">Lat</label>
                            <input class="form-control" id="lat" name="lat" type="text" placeholder="Enter Lat"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="lng">Lng</label>
                            <input class="form-control" id="lng" name="lng" type="text" placeholder="Enter Lng"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="desc">Description</label>
                            <input class="form-control" id="desc" name="desc" type="text"
                                   placeholder="Enter Description">
                        </div>
                        <button type="submit" class="btn btn-default btn-block">Add new</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <div class="container-fluid">
            <div class="card mb-4" style="margin-top: 20px">
                <div class="card-header">Flight Axis</div>
                <div class="card-body">
                    <div class="row padding-20">
                        <form action="/" method="POST">
                            <div class="form-check">
                                <input type="checkbox" name="enableFlightAxis" class="form-check-input" id="enableFlightAxis" onclick='handleEnableFlightAxis(this);' >
                                <label class="form-check-label" for="flightAxisEnable">Enable</label>
                            </div>
                            <div class="form-group" id="area-ip-address">
                                <label for="lat">Ip Address of computer running RealFlight</label>
                                <input class="form-control" id="flightAxisIpAddress" name="flightAxisIpAddress" type="text" placeholder="Ip Address of computer running RealFlight                  ">
                            </div>
                            <button type="button" onclick="updateFlightAxis()" class="btn btn-default btn-block">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
<div>
    <%- include('partials/script') %>
</div>
<script>
    let host = window.location.href;
      const regex = /^(http:\/\/)(?<ip>.*)(:3002.*)/;
      let groups = host.match(regex).groups;
      host = groups.ip;
    let enableFlightAxis = '<%= data.enableFlightAxis %>';
    let flightAxisIpAddress = '<%= data.flightAxisIpAddress %>';

    if (parseInt(enableFlightAxis)) {
        $('#enableFlightAxis').prop('checked', true);
        $('#area-ip-address').show();
    } else {
        $('#area-ip-address').hide();
        $('#enableFlightAxis').prop('checked', false);
    }
    $('#flightAxisIpAddress').val(flightAxisIpAddress);

    function updateFlightAxis()
    {
        const data = {
            enableFlightAxis: enableFlightAxis ? 1 : 0,
            "flightAxisIpAddress": $('#flightAxisIpAddress').val()
         };
            $.ajax({
              type: 'POST',
              url: `http://${host}:3002/api/updateFlightAxis`,
              dataType: 'json',
              data,
              success: function (data) {
              if (data && data.success) {
                alert("Success");
              } else {
                alert("Failed");
              }
              }
            });

        return false;
    }

    function handleEnableFlightAxis(cb) {
        if (cb.checked) {
            $('#area-ip-address').show();
        } else {
            $('#area-ip-address').hide();
        }
        enableFlightAxis = cb.checked;
        return true;
    }

  $('.project-row .btn').click(() => {
    $('.project-row').hide();
  });

  $('.project-row .btn-action-org-approve').click(() => {
    $('.project-row-org-approve').show();
  });

  $('.project-row .btn-action-loa-approve').click(() => {
    $('.project-row-loa-approve').show();
  });

  $('.project-row-action .btn').click(() => {
    $('.project-row').show();
    $('.project-row-action').hide();
  });

  $('.project-row-action').hide();
</script>

</html>
