<div class="row" style="margin-bottom: 100px">
    <div class="col-xl-9 col-md-8">
        <div class="card mb-4">
            <div class="card-header">Network Configuration</div>
            <div class="card-body">
                <form class="form-horizontal row mt-2" action="/network/type" method="POST">
                    <div class="col-xl-6 col-lg-12  col-sm-12">
                        <div class="form-group">
                            <label class="font-weight-bold">Cellular module</label>
                            <div>
                                <% if(data && data.networkType == "1") { %>
                                    <div>
                                        <input type="radio" id="networkType" name="networkType" class="networkType" value="1"
                                               checked>
                                        <label for="hat">Enable</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="networkType" name="networkType" class="networkType"
                                               value="0">
                                        <label for="normal">Disable</label>
                                    </div>
                                <% } else { %>
                                    <div>
                                        <input type="radio" id="networkType" name="networkType" class="networkType"
                                               value="1">
                                        <label for="normal">Enable</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="networkType" name="networkType" class="networkType" value="0"
                                               checked>
                                        <label for="normal">Disable</label>
                                    </div>
                                <% } %>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 text-left">
                        <button type="submit" class="btn btn-success mt-2">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-8">
        <div class="card mb-4">
            <div class="card-header">APN Setting</div>
            <form class="form-horizontal row mt-2" action="/network/apn" method="POST" id="areaAPNSetting">
                <div class="card-body">
                    <div class="form-group padding-20">
                        <div>
                            <input type="radio" id="auto" name="apnMode" value="0" class="apnMode"
                            <% if(data && data.apnMode == "0") { %> checked
                                    <% } %>
                            >
                            <label for="auto">Auto</label>
                        </div>
                        <div>
                            <input type="radio" id="manual" name="apnMode" value="1" class="apnMode"
                            <% if(data && data.apnMode == "1") { %> checked
                                    <% } %>
                            >
                            <label for="manual">Manual</label>
                        </div>
                    </div>
                    <div class="row padding-20 manual" class="manual">
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Country</label>
                                <select id="countryList" name="country" class="form-control"
                                        onchange="onCountryChanged(this)">
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>Network</label>
                                <select id="networkList" name="network" class="form-control"
                                        onchange="onSelectChanged(this)">
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4">
                            <div class="form-group">
                                <label>APN name</label>
                                <input type="text" id="apnName" name="apnName" class="form-control"
                                       value="<%= data.apn %>">
                            </div>
                        </div>
                    </div>
                    <div class="row padding-20" class="manual">
                        <div class="col-xl-3 col-lg-3 col-sm-3">
                            <div class="form-group">
                                <label>Country code</label>
                                <input type="text" id="countryCode" class="form-control" name="countryCode"
                                       value="" disabled>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-3" class="mcc">
                            <div class="form-group">
                                <label>Mcc</label>
                                <input type="text" id="mcc" class="form-control" name="mcc"
                                       value="" disabled>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-3">
                            <div class="form-group">
                                <label>Mnc</label>
                                <input type="text" id="mnc" class="form-control" name="mnc"
                                       value="" disabled>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-3">
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" id="type" name="type" class="form-control"
                                       value="" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-left">
                        <button type="submit" class="btn btn-success mt-2">Save Changes</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-xl-9 col-md-8">
        <div class="card mb-4">
            <div class="card-header">Cache</div>
            <form class="form-horizontal row mt-2" action="/network/cache" method="POST" id="areaAPNSetting">
                <div class="card-body">
                    <div class="form-group padding-20">
                        <div>
                            <label>IMSI: </label>
                            <input type="text" value="<%= data.imsi %>" />
                        </div>
                        <div>
                            <label>APN: </label>
                            <input type="text" value="<%= data.apn %>" />
                        </div>
                    </div>
                    <div class="col-12 text-left">
                        <button type="submit" class="btn mt-2">Clear Cache</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="js/apns.js"></script>
<script src="js/apnsData.js"></script>
<script>
  let host = window.location.href;
  const regex = /^(http:\/\/)(?<ip>.*)(:3002.*)/;
  let groups = host.match(regex).groups;
  host = groups.ip;
  let apn = '<%= data.apn %>';
  let network = '<%= data.network %>';
  let country = '<%= data.country %>';
  let networkType = '<%=data.networkType%>';
  let apnMode = '<%=data.apnMode%>';
  const onSelectChanged = (event) => {
    const country = $("#countryList option:selected").html();
    setCarrierList(country, $("#networkList option:selected").val())
  }

  const setCarrierList = (country, carrierId) => {
    let carrier = undefined;
    const data = apnList[country];
    $('#networkList').empty();
    const option = `<option value="0">Other</option>`;
    $('#networkList').append(option);
    for (const [id, obj] of Object.entries(data.apns)) {
      if (carrierId == obj.id) {
        carrier = obj.carrier;
      }
      const option = `<option value="${obj.id}">${id}</option>`;
      $('#networkList').append(option);
    }
    $(`#networkList option[value='${carrierId}']`).attr('selected', 'selected');
    if (data) {
      $("#apnName").val(data.apns[carrier].apn)
      $("#countryCode").val(data.country_code);
      $("#mcc").val(data.mcc);
      $("#mnc").val(data.apns[carrier].mnc);
      $("#type").val(data.apns[carrier].type);
    }
  }
  const onCountryChanged = (event) => {
    setCarrierList(event.value, 0)
  }

  $('.apnMode').on('change', function () {
    if ($(this).val() == "1") {
      $(".manual").show();
    } else {
      $(".manual").hide();
      $("#countryCode").val("");
      $("#mcc").val("");
      $("#mnc").val("");
      $("#type").val("");
    }
  })

  $(".networkType").on('change', function () {
    if ($(this).val() == '1') {
      $("#areaAPNSetting").show();
    } else {
      $("#areaAPNSetting").hide();
    }
  })

  function init() {
    if (networkType == '1') {
      $("#areaAPNSetting").show();
    } else {
      $("#areaAPNSetting").hide();
    }

    if (apnMode == '0') {
      $(".manual").hide();
      $("#countryCode").val("");
      $("#mcc").val("");
      $("#mnc").val("");
      $("#type").val("");
    }
  }

  $(document).ready(function () {
    for (const [id, obj] of Object.entries(apnList)) {
      const option = `<option value="${id}">${id}</option>`
      $('#countryList').append(option);
    }
    $(`#countryList option[value='${country}']`).attr('selected', 'selected');
    setCarrierList(country, network);
    $("#apnName").val(apn);

    init();
  });
</script>