<div class="row">
    <div class="col-xl-9 col-md-8">
        <div class="card mb-4">
            <div class="card-header">Available Version</div>
            <div class="card-body">
                <form id="availableForm" class="form-horizontal row mt-2" action="/version" method="POST">
                    <div class="col-xl-6 col-lg-12  col-sm-12">
                        <div id="availableFormGroup" class="form-group">
                            <div>
                                <% data.availables.forEach(function(available) { %>
                                    <div>
                                        <input type="radio" id="<%= available %>" name="firm"
                                               value="<%= available %>"
                                               url="test"
                                        <% if (data.firm && data.firm == available) { %>  checked
                                                <% } %>
                                        >
                                        <label for="hat"><%= available %></label>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-default mt-2">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-md-8">
        <div class="card mb-4">
            <div class="card-header">Download</div>
            <div class="card-body">
                <!--                <form id="versionForm" class="form-horizontal row mt-2" action="/network" method="POST">-->
                <div class="col-xl-12 col-lg-12  col-sm-12">
                    <div class="form-group">
                        <div>
                            <% data.firms.forEach(function(firm) { %>
                                <div>
                                    <input type="radio" id="<%= firm.url %>" name="version" value="<%= firm.name %>"
                                           url="test">
                                    <label for="hat"><%= firm.name %></label>
                                    <button onclick="downloadVersion('<%= firm.url %>', '<%= firm.name %>', this)">
                                        Download
                                    </button>
                                </div>
                            <% }); %>
                            <div class="form-group inline">
                                <label for="hat">Other</label>
                                <input id="keyInput" type="text" name="other">
                                <button onclick="downloadVersionWithKey(this)">
                                    Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                </form>-->
            </div>
        </div>
    </div>
</div>
<script>

  function getAvailableVersions(data) {
    const availabeDatas = data.data;
    $('#availableFormGroup').empty();
    for (let i = 0; i < availabeDatas.length; i++) {
      const firmName = availabeDatas[i];
      const element = `<div>
                                      <input type="radio" id="" name="firm" value="${firmName}"
                                             url="test">
                                      <label for="firm">${firmName}</label>
                               </div>`
      $('#availableFormGroup').append(element);
    }
  }

  function downloadVersionWithKey(element) {
    const key = $("#keyInput")[0].value;
    const formData = {
      'key': key
    };
    element.innerText = "Downloading...";
    element.disabled = true;

    $.ajax({
      type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
      url: 'version/download/key', // the url where we want to POST
      data: formData, // our data object
      dataType: 'json', // what type of data do we expect back from the server
      encode: true
    }).then(function (data) {
      if (data.success) {
        element.disabled = false;
        element.innerText = "Downloaded";
        $.ajax({
          type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
          url: 'version/available', // the url where we want to POST
          encode: true
        }).then((data) => {
          getAvailableVersions(data);
        })
      } else {
        element.innerText = "Failed";
        element.disabled = false;
      }
    })
      .catch(error => {
        element.innerText = "Failed";
        element.disabled = false;
        console.log("eror", error)
      });
  }

  function downloadVersion(url, name, element) {
    const formData = {
      'name': name,
      'url': url,
    };
    element.innerText = "Downloading...";
    element.disabled = true;

    // process the form
    $.ajax({
      type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
      url: 'version/download', // the url where we want to POST
      data: formData, // our data object
      dataType: 'json', // what type of data do we expect back from the server
      encode: true
    })
      .then(function (data) {
        if (data.success) {
          element.disabled = false;
          element.innerText = "Downloaded";
          $.ajax({
            type: 'GET', // define the type of HTTP verb we want to use (POST for our form)
            url: 'version/available', // the url where we want to POST
            encode: true
          }).then((data) => {
            getAvailableVersions(data);
          })
        } else {
          element.disabled = false;
          element.innerText = "Failed";
        }
      })
      .catch(error => {
        element.innerText = "Failed";
        element.disabled = false;
        console.log("eror", error)
      });
  }

  $(document).ready(function () {
    let socket = new WebSocket('ws://10.147.20.3:3001');
  });


</script>