html {
	position: relative;
	min-height: 100%;
}
body {
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-color: #f5f5f5;
}
body.sticky-footer {
	margin-bottom: 56px;
}
body.fixed-nav {
	padding-top: 69px;
}
a {
	color: #1c1d2a;
}
a:hover {
	color: #787a8c;
	text-decoration: none;
}
.form-control:focus {
	border-color: #bec4ca;
	box-shadow: none;
}
button:focus {
	outline: medium none;
}
body.sticky-footer .content-wrapper {
	min-height: -webkit-calc(100vh - 56px - 69px);
	min-height: -moz-calc(100vh - 56px - 69px);
	min-height: calc(100vh - 56px - 69px);
}
.content-wrapper {
	min-height: -webkit-calc(100vh - 69px);
	min-height: -moz-calc(100vh - 69px);
	min-height: calc(100vh - 69px);
}
.btn {
	border: 0 none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 25px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
}
.btn.btn-radius {
	border-radius: 40px;
}
.btn.active.focus, 
.btn.active:focus, 
.btn.active:hover, 
.btn:active:focus, 
.btn:active:hover,
.btn.active,
.btn:active,
.btn.focus:active, 
.btn:focus,
.btn.active:not(:disabled):not(.disabled), 
.btn:active:not(:disabled):not(.disabled) {
	box-shadow:none !important;
	outline:none;
}
.btn-default {
	background-size: 200% auto;
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	border: 0;
	color: #fff;
	outline:none;
	text-transform:uppercase;
	z-index:2;
	transition: all 0.5s ease 0s;
}
.btn-default:hover {
	background-position: right center; 
}
.btn-default:hover,.btn-border:hover {
	color:#fff;
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active:focus, 
.btn-default:active:hover,
.btn-default.active,
.btn-default:active,
.btn-default.focus:active, 
.btn-default:focus,
.btn-default.active:not(:disabled):not(.disabled), 
.btn-default:active:not(:disabled):not(.disabled) {
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	box-shadow:none;
	color: #fff;
	outline:none;
}
.btn-primary {
	background-color: #f7931a;
}
.btn-primary:hover,
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active:focus, 
.btn-primary:active:hover,
.btn-primary.active,
.btn-primary:active,
.btn-primary.focus:active, 
.btn-primary:focus,
.btn-primary.active:focus:not(:disabled):not(.disabled),
.btn-primary:active:focus:not(:disabled):not(.disabled), .show > .btn-primary.dropdown-toggle:focus {
	background-color: #e7830a;
	background-image: none;
	box-shadow:none;
	color: #fff;
	outline:none;
}
.scroll-to-top {
	bottom: 3px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	height: 45px;
	line-height: 45px;
	position: fixed;
	right: 15px;
	text-align: center;
	width: 45px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
	color: white;
}
.smaller {
	font-size: 0.7rem;
}

.o-hidden {
	overflow: hidden !important;
}
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
.list_none,.list_none li {
	list-style: none;
}
.bg-dark {
	background-color: #282a3c !important;
}
#mainNav .navbar-brand {
	padding: 13px 15px;
	overflow: hidden;
	transition: all 0.3s ease-in-out 0s;
}
.logo_icon,body.sidenav-toggled .navbar-brand .logo {
	display: none;
}
body.sidenav-toggled .navbar-brand .logo_icon {
	display: block;
}
body.sidenav-toggled #mainNav .navbar-brand {
	padding: 13px 5px;
}
#mainNav.navbar {
	padding: 0;
}
#mainNav .navbar-collapse {
	overflow: auto;
	max-height: 75vh;
}
.menubar .line {
	display: block;
	height: 2px;
	margin: 5px auto;
	transition: all 0.3s ease-in-out 0s;
	width: 22px;
}
.menubar .line {
	background-color: #868e96;
}
.menubar:hover .line {
	background-color: #adb5bd;
}
.mobile_menu {
	position: absolute;
	right: 15px;
	top: 23px;
}
.sidenav-toggled .menubar .line:nth-child(1), .sidenav-toggled .menubar .line:nth-child(3) {
	height: 2px;
	width: 10px;
}
.sidenav-toggled .menubar .line:nth-child(1) {
	-moz-transform: translateY(4px) rotate(45deg);
	-webkit-transform: translateY(4px) rotate(45deg);
	transform: translateY(4px) rotate(45deg);
}
.sidenav-toggled .menubar .line:nth-child(2) {
	height: 2px;
	-moz-transform: translateX(-6px);
	-webkit-transform: translateX(-6px);
	transform: translateX(-6px);
	width: 16px;
}
.sidenav-toggled .menubar .line:nth-child(3) {
	-moz-transform: translateY(-4px) rotate(-45deg);
	-webkit-transform: translateY(-4px) rotate(-45deg);
	transform: translateY(-4px) rotate(-45deg);
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
	cursor: pointer;
	position: relative;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-link-collapse:after {
	content: '\f107';
	font-family: 'FontAwesome';
	position: absolute;
	right: 10px;
	top: 15px;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-link-collapse.collapsed:after {
	content: '\f105';
}
#mainNav .navbar-collapse.navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse.navbar-sidenav .sidenav-third-level {
	padding-left: 0;
}
#mainNav .navbar-collapse.navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse.navbar-sidenav .sidenav-third-level > li > a {
	display: block;
	padding: 0.5em 0;
}
#mainNav .navbar-collapse.navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse.navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse.navbar-sidenav .sidenav-third-level > li > a:hover {
	text-decoration: none;
}
#mainNav .navbar-collapse.navbar-sidenav .sidenav-second-level > li > a {
	padding-left: 1em;
}
#mainNav .navbar-collapse.navbar-sidenav .sidenav-third-level > li > a {
	padding-left: 2em;
}
#mainNav .navbar-collapse .sidenav-toggler {
	display: none;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
	position: relative;
	min-width: 45px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
	float: right;
	width: auto;
	content: '\f105';
	border: none;
	font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
	position: absolute;
	top: 5px;
	left: 20px;
	font-size: 10px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
	content: '\f107';
}
.dropdown-content-body  .dropdown-message {
	overflow: hidden;
	max-width: none;
	text-overflow: ellipsis;
}
.dropdown-content-body ul {
	padding: 0;
}
.dropdown-content-body ul li {
	border-top: 1px solid #dddddd;
	padding: 10px;
}
.dropdown-content-body li a {
	padding: 0;
}
.dropdown-content-body li a:hover {
	background-color: transparent;
}
.icon_box {
	border-radius: 100%;
	color: #ffffff;
	float: left;
	font-size: 20px;
	margin-right: 10px;
	padding: 10px;
}
.dropdown-content-footer a {
	border-top: 1px solid #dddddd;
	color: #1c1d2a;
	display: block;
	padding: 10px;
}
.dropdown-content-footer a:hover {
	color: #787a8c;
}
.search_input {
	display: none;
}
.search_icon.open i::before {
	content: "\f00d";
}
.search_icon {
	color: #868e96;
	display: inline-block;
	font-size: 18px;
	line-height: normal;
	padding: 6px 10px;
	vertical-align: middle;
}
.search_icon:hover {
	color: #adb5bd;
}
.search_input.open {
	display: inline-block;
	vertical-align: middle;
}
.search_input .btn {
	padding: 7px 12px;
}
.user_img {
	border-radius: 100%;
	display: inline-block;
	height: 40px;
	width: 40px;
}
.user_img img {
	border-radius: 100%;
	max-width: 100%;
	width: 100%;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.menu_user > .nav-link::after {
	content: none;
}
.dropdown-menu {
	border: 0 none;
	box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);
}
.dropdown-header {
	color: #1c1d2a;
	font-size: 16px;
	padding: 15px;
}
#mainNav.fixed-top .sidenav-toggler {
	display: none;
}
.menu-nav {
	padding: 0 10px;
}
.menu-nav a {
	color: #787a8c;
	display: block;
	padding: 5px;
}
.menu-nav a:hover {
	color: #1c1d2a;
}
.menu-nav a i {
	font-size:18px;
	margin-right: 10px;
	vertical-align: middle;
}
.menu-notification ul {
	height: 265px;
	overflow: hidden;
	position: relative;
}
.notification-content h6 {
	max-width: 240px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropdown-content-body .user_img {
	float: left;
	margin-right: 10px;
}
.page_title {
	margin-bottom: 30px;
	margin-top: 30px;
}
.page_title h4 {
	font-weight: 400;
	margin: 0;
	text-transform: capitalize;
}
.page_title .breadcrumb {
	background-color: rgba(0, 0, 0, 0);
	float: right;
	font-size: 14px;
	padding: 0;
}
.breadcrumb {
	margin:0;
}
.box {
	background-color: #1c1d2a;
	border-radius: 5px;
	color: #ffffff;
	padding: 20px 15px;
	-webkit-transition: all .25s ease;
	-o-transition: all .25s ease;
	-moz-transition: all .25s ease;
	transition: all .25s ease;
}
.box-head h3 {
	margin: 0;
}
.box-head i {
	color: rgba(255,255,255,0.5);
	font-size: 38px;
	text-align: center;
}
.box-body {
	margin-top: 20px;
	font-size: 14px;
}
.bg_primary {
	background-color: #f7931a;
}
.bg_info {
	background-color: #707bcc;
}
.bg_secondary {
	background-color: #ffc107;
}
.bg_success {
	background-color: #58bf00;
}
.bg_blue {
	background-color: #1e75bb;
}
.bg_orange {
	background-color: #FF6501;
}
.bg_light_blue {
	background-color: #37A0E1;
}
.text_primary {
	color: #f7931a;
}
.text_info {
	color: #707bcc;
}
.text_secondary {
	color: #ffc107;
}
.text_success {
	color: #58bf00;
}
.text_blue {
	color: #1e75bb;
}
.text_orange {
	color: #FF6501;
}
.text_light_blue {
	color: #37A0E1;
}
.box:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    -webkit-box-shadow: 0 14px 24px rgba(62,57,107,.2);
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
    z-index: 999;
}
.card {
    margin-bottom: 1.875rem;
    border: none;
    -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
}
.card-header {
	background-color: #282a3c;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	padding: 15px;
	text-transform: uppercase;
}
.card-sm-header {
	border-bottom: 1px solid #dddddd;
	padding: 10px 20px;
}
.table_s1 td i {
	margin-right: 10px;
}
.table-hover tbody tr:hover {
	background-color: rgba(244, 246, 249, 0.5);
}
.table_s1 .badge-pill {
	font-size: 12px;
}
.page-link:focus {
	box-shadow: none;
}
.nav_tab {
	border-bottom: 1px solid #dddddd;
	padding: 15px 15px 0;
}
.nav_tab .nav-link.active, .nav_tab .show > .nav-link {
    background-image: -webkit-linear-gradient(to right, #ff67cb 0%, #ffcc67 99%);
	background-image: linear-gradient(to right, #ff67cb 0%, #ffcc67 99%);
	color: #fff;
}
.nav_tab li a {
	color: #363950;
	padding: 10px 30px;
}
.progressbar {
	background-color: #e9ecef;
	height: 10px;
	margin-bottom: 40px;
	overflow: visible;
	position: relative;
}
.progressbar, .progressbar .progress-bar {
	border-radius: 20px;
	height: 10px;
}
.progressbar .progress_label strong {
	font-size: 14px;
	font-weight: 600;
	left: 50%;
	margin-top: 5px;
	position: absolute;
	top: 100%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.progressbar .progress_label {
	background-color: #1c1d2a;
	bottom: -6px;
	color: #1c1d2a;
	line-height: 1;
	position: absolute;
	top: -6px;
	width: 1px;
}
.progress-bar.gradient {
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%);
}
.radio_checkbox input[type="radio"] {
	display: none;
}
.radio_checkbox input[type="radio"] + .label-text::before {
	border: 1px solid #dddddd;
	border-radius: 100%;
	content: "";
	display: inline-block;
	height: 15px;
	margin-right: 5px;
	vertical-align: middle;
	width: 15px;
}
.radio_checkbox input[type="radio"]:checked + .label-text:before{
	content: "";
	background-color: #dddddd;
}
.radio_checkbox input[type="radio"]:checked + .label-text::before {
	background-color: #999999;
	border: 3px solid #dddddd;
	content: "";
}
.styledSelect {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	color: #495057;
	cursor: pointer;
	overflow: hidden;
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}
.styledSelect::before {
	content: "\f107";
	font-family: fontawesome;
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 4px;
	transition: all 0.2s ease 0s;
}
.select_options li {
	cursor: pointer;
	padding: 5px 10px;
}
.select_options li:hover {
	background-color: #e9ecef;
}
.styledSelect.active::before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.select_box {
	position: relative;
	width: 100%;
}
.select_options {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	list-style: outside none none;
	margin: 0;
	max-height: 200px;
	overflow: auto;
	padding: 0;
	position: absolute;
	right: 0;
	top: 100%;
	text-align: left;
	z-index: 999;
}
.payment_methods_list li {
	float: left;
	height: 85px;
	margin-bottom: 20px;
	padding: 0 3px;
	position: relative;
	vertical-align: top;
	width: 16.66%;
}
.payment_methods_list span {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}
.payment_methods_list li a i {
	font-size: 24px;
	margin: 0 3px;
}
.payment_methods_list li a i.fa {
	line-height: 36px;
}
.payment_methods_list a {
	background-color: #383a4c;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	height: 100%;
	padding: 10px 5px;
}
.payment_methods_list li.active a {
	background-color: #1c1d2a;
}
.copy-button {
	position: relative;
}
.copy-button input {
	padding-right: 75px;
	text-overflow: ellipsis;
}
.copy-link {
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	padding: 7px 15px;
	position: absolute;
	right: 0;
	top: 0;
}
.input-group-text .select_box .styledSelect {
	border: 0 none;
	text-align: left;
	width: 120px;
}
.timeline_wrap {
	max-height: 300px;
	overflow: hidden;
	position: relative;
}
.timeline_wrap li::before {
	background-color: #ced4da;
	bottom: 0;
	content: "";
	height: 100%;
	left: 15px;
	position: absolute;
	top: 0;
	width: 2px;
}
.timeline_wrap li {
	padding-bottom: 20px;
	padding-left: 35px;
	position: relative;
}
.timeline_icon.tm_complete {
	background-color: #1c1d2a;
	border-color: #1c1d2a;
}
.timeline_icon {
	background-color: #ffffff;
	border: 2px solid #ced4da;
	border-radius: 100%;
	font-size: 12px;
	height: 20px;
	left: 5px;
	line-height: 23px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 20px;
}
.timeline_content h6 {
	font-size: 14px;
	margin-bottom: 0;
}
.timeline_content span {
	font-size: 12px;
}
.wallet_icon {
	border: 1px solid #999999;
	border-radius: 100%;
	color: #999999;
	display: block;
	height: 42px;
	line-height: 44px;
	margin: 0 auto 15px;
	width: 42px;
}
.wallet_text {
	color: #999999;
}
.wallet_text i {
	margin-right: 5px;
	vertical-align: middle;
}
.wallet-heading i {
	font-size: 28px;
	vertical-align: middle;
}
.wallet-heading i {
	float: left;
	margin-right: 10px;
}
.wallet-heading h4 {
	font-size: 20px;
	margin: 9px 0 0;
}
.wallet_info {
	display: inline-block;
	width: 100%;
}
.wallet_info li span {
	float: left;
	width: 50%;
}
.wallet_info li {
	border-bottom: 1px dashed #999999;
	display: table;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 100%;
}
.wallet_info li:first-child {
	border-top: 1px dashed #999999;
	padding-top: 10px;
}
.wallet_info li:last-child {
	margin-bottom: 0px;
}
.wallet_info li span:last-child{
	text-align: right;
}
.tab_nav {
	margin-bottom: 20px;
}
.tab_nav ul {
	display: block;
}
.tab_nav .tab-link {
	border: 1px solid #282a3c;
	display: block;
	margin-bottom: -1px;
	padding: 10px;
}
.tab_nav .tab-link.active {
	background-color: #1c1d2a;
	color: #fff;
}
.faq_content2 .card-header a {
	display: block;
	color: #ffffff;
	font-weight: 600;
	padding: 20px 50px 20px 20px;
	position:relative;
}
.faq_content2 .card-header {
	border: 0 none;
	border-radius: 0;
	padding: 0;
}
.faq_content2 .card-body {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.faq_content2 .card-header a::after {
	color: #ffffff;
	content: "\e607";
	font-family: "simple-line-icons";
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	right: 20px;
	top: 20px;
}
.faq_content2 .card-header a.collapsed::after {
	content: "\e604";
}
.bg_image::before {
	background-image: url("../images/login-bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.lr_wrap {
	background-color: #fff;
	border-radius: 5px;
	border-top: 3px solid #ff67cb;
	left: 0;
	margin: 0 auto;
	max-width: 350px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.lr_wrap .icons {
	font-size: 18px;
	margin-right: 5px;
	vertical-align: middle;
}
.user_pic_wrap {
	display: table;
	margin: 0 auto;
	position: relative;
}
.user_pic_wrap img {
	border: 2px solid #f4f5f8;
	border-radius: 100%;
	max-width: 120px;
	padding: 10px;
}
.edit_pic {
	bottom: 20px;
	position: absolute;
	right: 10px;
}
.edit_pic label input[type="file"] {
	display: none;
}
.edit_pic i {
	background-color: #282a3c;
	border: 2px solid #ffffff;
	border-radius: 100%;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.input_cols .select_box:first-child {
	margin: 0;
}
.input_cols .select_box {
	margin-left: 10px;
}
.switch_checkbox {
	display: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    min-width: 48px;
    height: 26px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 0;
}
.switch_slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    border: 1px solid #ced4da;
}
.switch_checkbox:checked+.switch_slide {
    border: 1px solid #34bfa3;
    background-color: #34bfa3;
}
.switch_checkbox:checked+.switch_slide:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    border: 1px solid #fff;
}
.switch_checkbox:checked+.switch_slide:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    border: 1px solid #fff;
}
.switch_slide:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #ced4da;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.login_list_head {
	font-weight: 500;
	padding-bottom: 20px;
	position: relative;
}
.login_list_head::before {
	background-color: rgba(0, 0, 0, 0.125);
	bottom: 0;
	content: "";
	height: 1px;
	left: -35px;
	position: absolute;
	right: 0;
	width: calc(100% + 70px);
}
.login_list_body > div {
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;
}
.login_list_body > div:before {
	background-color: rgba(0, 0, 0, 0.125);
	bottom: 0;
	content: "";
	height: 1px;
	left: -20px;
	position: absolute;
	right: 0;
	width: calc(100% + 40px);
}
.login_list_body > div:last-child {
	padding-bottom: 0;
}
.login_list_body > div:last-child:before {
	content: normal;
}
.social_icon {
	display: inline-block;
	margin: 15px 0 0;
	padding: 0;
	vertical-align: middle;
}
.social_icon li {
	float: left;
	margin-right: 5px;
}
.social_icon li:last-child {
	margin: 0;
}
.social_icon li a i {
	background-color: #383a4c;
	border-radius: 100%;
	color: #ffffff;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.social_icon li a i:hover {
	background-color: #1c1d2a;
}
.tk_countdown_time {
	border: 1px solid #1c1d2a;
	border-radius: 5px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.counter_box {
	display: inline-block;
	position: relative;
	width: 25%;
}
.counter_box .tk_text {
	display: block;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
}
.counter_box .tk_counter::after {
	content: ":";
	font-size: 50px;
	font-weight: 600;
	position: absolute;
	right: 0;
	top: 10px;
}
.counter_box:last-child .tk_counter:after {
	content: normal;
}
.counter_box .tk_counter {
	display: block;
	font-size: 50px;
	font-weight: 600;
	padding: 10px;
}
.sale_info {
	border: 1px solid #dddddd;
	border-radius: 5px;
	height: 100%;
	padding: 15px;
}
.sale_info p {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.whitepaper_img {
	margin-bottom: 20px;
}
.pagination .page-item.active .page-link {
	background-color: #f7931a;
	border-color: #f7931a;
}
.pagination .page-link {
	color: #1c1d2a;
	padding: 10px 15px;
}

@media (min-width: 992px) {
#mainNav .navbar-brand {
    width: 250px;
	background-color: rgba(0, 0, 0, 0.3);
}
.mobile_menu {
	display: none;
}
body.sidenav-toggled #mainNav .navbar-brand {
      width: 55px;
}
#mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
	padding-right: 15px;
}
#mainNav .navbar-collapse.navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 69px;
}
.navbar-expand-lg .navbar-sidenav .navbar-nav {
	  -webkit-box-orient:vertical;
	  -webkit-box-direction:normal;
	  -ms-flex-direction:column;
	  flex-direction:column;
	  width: 100%;
}
#mainNav .navbar-collapse.navbar-sidenav > .nav-item {
    padding: 0;
	transition: all 0.3s ease-in-out 0s;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level,
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li,
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li {
    width: 250px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
}
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a,
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a {
    padding: 1em;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
}
.dropdown-content-body .dropdown-message {
	font-size: 12px;
	margin-top: 5px;
	max-width: 300px;
}
#mainNav .navbar-collapse.navbar-sidenav .nav-item > .nav-link {
    padding: 1em;
	white-space: nowrap;
}
#mainNav.fixed-top .navbar-sidenav {
	height: calc(100vh - 69px);
	width: 250px;
	transition: all 0.3s ease-in-out 0s;
}
.sidenav-toggled #mainNav.fixed-top .navbar-sidenav {
	width: 55px;
}
.sidenav-toggled #mainNav.fixed-top .navbar-sidenav:hover {
	width: 250px;
}
#mainNav.fixed-top .sidenav-toggler {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: calc(100vh - 56px);
}
#mainNav.fixed-top .sidenav-toggler > .nav-item {
	width: 250px;
	padding: 0;
}
#mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
	padding: 1em;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
	background-color: #212529;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
	color: #adb5bd;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler {
	background-color: #dee2e6;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
	color: rgba(0, 0, 0, 0.5);
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
	overflow-x: hidden;
	width: 55px;
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
	width: 55px !important;
}
body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}
#mainNav.static-top .sidenav-toggler {
	display: none;
}
.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}
/*
 * Scrollbar rail styles
 */
.ps__rail-x {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	height: 15px;
	/* there must be 'bottom' or 'top' for ps__rail-x */
	bottom: 0px;
	/* please don't change 'position' */
	position: absolute;
}
.ps__rail-y {
	display: none;
	opacity: 0;
	transition: background-color .2s linear, opacity .2s linear;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	width: 15px;
	/* there must be 'right' or 'left' for ps__rail-y */
	right: 0;
	/* please don't change 'position' */
	position: absolute;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
	display: block;
	background-color: transparent;
}
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
	opacity: 0.6;
}
/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
	background-color: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, height .2s ease-in-out;
	-webkit-transition: background-color .2s linear, height .2s ease-in-out;
	height: 6px;
	/* there must be 'bottom' for ps__thumb-x */
	bottom: 2px;
	/* please don't change 'position' */
	position: absolute;
}
.ps__thumb-y {
	background-color: #aaa;
	border-radius: 6px;
	transition: background-color .2s linear, width .2s ease-in-out;
	-webkit-transition: background-color .2s linear, width .2s ease-in-out;
	width: 6px;
	/* there must be 'right' for ps__thumb-y */
	right: 2px;
	/* please don't change 'position' */
	position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
	height: 7px;
}
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
	width: 7px;
}
/* MS supports */
@supports (-ms-overflow-style: none) {
.ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.ps {
	overflow: auto !important;
}
}
@media (min-width: 992px) {
#mainNav.static-top .sidenav-toggler {
    display: flex;
}
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}
.content-wrapper {
	overflow-x: hidden;
	background: #f5f5f5;
}

@media (min-width: 992px) {
.content-wrapper {
	margin-right: 250px;
    margin-left: 250px;
	transition: all 0.3s ease-in-out 0s;
}
}

#sidenavToggler i {
  font-weight: 800;
}
.navbar-sidenav-tooltip.show {
	display: none;
}

@media (min-width: 992px) {
body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
}
}

body.sidenav-toggled .navbar-sidenav {
	width: 55px;
}
body.sidenav-toggled .navbar-sidenav:hover .nav-link-text {
	opacity: 1;
}
body.sidenav-toggled .navbar-sidenav .nav-link-text {
	opacity: 0;
}
.navbar-sidenav .nav-link-text {
	transition: all 0.3s ease 0s;
}
body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
	display: none;
}
body.sidenav-toggled .navbar-sidenav:hover .nav-link::after {
	display: block;
}
body.sidenav-toggled .navbar-sidenav .nav-item {
	white-space: nowrap;
}
body.sidenav-toggled .navbar-sidenav-tooltip.show {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-link-collapse:after {
	color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item > .nav-link {
	color: #868e96;
	border-left: 2px solid rgba(0, 0, 0, 0);
}
.nav-link i.icons {
	margin-right: 5px;
	vertical-align: middle;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav li.nav-item.active a {
	background-color: #363950;
	border-left-color: #ffffff;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item > .nav-link:hover {
	color: #adb5bd;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a {
	color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a:hover {
	color: #adb5bd;
}
#mainNav.navbar-dark .navbar-collapse.navbar-nav > .nav-item.dropdown > .nav-link:after {
	color: #adb5bd;
}
.nav-label {
	color: #868e96;
	font-size: 12px;
	font-weight: 500;
	padding: 13px 10px;
	text-transform: uppercase;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav {
	background: #282a3c none repeat scroll 0 0;
	padding: 0;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav {
	padding: 0;
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav li.active > a {
    color: white !important;
}
@media (min-width: 992px) {
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
}
}
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level,
#mainNav.navbar-dark .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level {
    background: #1C1D2A;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level,
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level {
    background: #e9ecef;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-link-collapse:after {
	color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item > .nav-link {
	color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item > .nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a {
	color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a:focus, 
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-light .navbar-collapse.navbar-sidenav .nav-item .sidenav-third-level > li > a:hover {
	color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse.navbar-nav .nav-item.dropdown > .nav-link:after {
	color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) {
#mainNav.navbar-light .navbar-collapse.navbar-sidenav {
    background: #f8f9fa;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse.navbar-sidenav li.active a:hover {
    color: #000;
}
#mainNav.navbar-light .navbar-collapse.navbar-sidenav > .nav-item .sidenav-second-level,
#mainNav.navbar-light .navbar-collapse.navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
}
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: -25px;
	right: -25px;
	font-size: 5rem;
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	transform: rotate(15deg);
}

@media (min-width: 576px) {
.card-columns {
    column-count: 1;
}
}

@media (min-width: 768px) {
.card-columns {
    column-count: 2;
}
}

@media (min-width: 1200px) {
.card-columns {
    column-count: 2;
}
}

.card-login {
	max-width: 25rem;
}
.card-register {
	max-width: 40rem;
}
.footer {
	background-color: #ffffff;
	padding: 15px;
}
footer.sticky-footer {
	background-color: #ffffff;
	bottom: 0;
	height: 56px;
	line-height: 55px;
	position: absolute;
	right: 0;
	width: 100%;
}
@media (min-width: 992px) {
footer.sticky-footer {
    width: calc(100% - 250px);
}
}

@media (min-width: 992px) {
body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
}
}
@media (max-width: 1400px) {
.h2, h2 {
	font-size: 1.7rem;
}
.btn {
	font-size: 14px;
	padding: 12px 15px;
}
.balance_text {
	font-size: 20px;
}
.payment_methods_list span {
	font-size: 11px;
}
.payment_methods_list li {
	padding: 0 10px;
	width: 33.33%;
}
.box-head i {
	font-size: 34px;
}
.user_detail a {
	font-size: 13px;
}
}
@media (max-width: 1199px) {
.search_input.open {
	left: 340px;
	margin: 0 auto;
	position: absolute;
	z-index: 9999;
	top: 15px;
}
.text_md_center {
	text-align: center;
}
.card-header {
	font-size: 16px;
	padding: 15px;
}
.sale_info {
	padding: 10px;
}
.sale_info h6 {
	font-size: 15px;
}
}
@media (max-width: 991px) {
.navbar-toggler {
	border: 0 none;
	padding: 0;
}
.navbar-dark .navbar-toggler i {
	vertical-align: middle;
}
.navbar-dark .navbar-toggler {
	color: #ffffff;
	margin-left: 5px;
}
.navbar-toggler .icons {
	font-size: 22px;
	vertical-align: middle;
}
#mainNav .navbar-collapse.navbar-sidenav {
	bottom: 0;
	display: block;
	left: -250px;
	max-height: 100vh;
	position: fixed;
	top: 69px;
}
#mainNav .navbar-collapse.navbar-sidenav.show {
	left:0;
}
#navbarheader .navbar-nav, #navbarheader .navbar-nav > li {
	display: inline-block;
	vertical-align: middle;
	position:static;
	margin-left: 15px;
}
#navbarheader.navbar-collapse {
	background-color: #1c1d2a;
	padding: 0 15px;
	text-align: right;
}
.navbar-nav .dropdown-menu {
	left: auto;
	max-width: 170px;
	right: 15px;
	position: absolute;
	top: 100%;
}
.navbar-nav .dropdown-menu.dropdown-content-body {
	max-width: 290px;
}
.dropdown-content-body .dropdown-message {
	max-width: 270px;
}
#mainNav #navbarheader .navbar-nav .nav-item a::after {
	content: normal;
}
#navbarheader .badge {
	height: 18px;
	line-height: 14px;
	padding: 3px;
	vertical-align: middle;
	width: 18px;
}
.search_input.open {
	background-color: #1c1d2a;
	left: 0;
	margin: 0 auto;
	padding: 0 50px 20px;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 9999;
}
.search_icon {
	font-size: 16px;
	padding: 0;
}
#navbarheader .navbar-nav:first-child li:last-child {
	margin: 0;
}
}
@media (max-width: 767px) {
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content: center;
}
.dropdown-header {
	font-size: 14px;
	padding: 10px;
}
.login_list_body > div:first-child {
	padding-top: 0;
}
.login_list_body p span {
	color: #212529;
	font-weight: 600;
}
}
@media (max-width: 640px) {
.lr_wrap {
	max-height: 95%;
	overflow: auto;
	width: 90%;
}
#navbarheader .navbar-nav, #navbarheader .navbar-nav > li {
	margin-left: 5px;
}
.menu_user a {
	font-size: 14px;
}
.search_input.open {
	padding: 0 20px 20px;
}
.menu-notification ul {
	height: 35vh;
}
}
@media (max-width: 575px) {
.page_title .breadcrumb {
	float: left;
	padding: 10px 0 0;
}
}
@media (max-width: 480px) {
.payment_methods_list li {
	width: 50%;
}
.page_title {
	margin-bottom: 20px;
	margin-top: 20px;
}
.form-group {
	margin-bottom: 10px;
}
.page_title h4 {
	font-size: 20px;
}
.modal-title {
	font-size: 16px;
}
.faq_content2 .card-header a {
	padding: 15px 40px 15px 15px;
	font-size: 14px;
}
.faq_content2 .card-header a::after {
	font-size: 14px;
	right: 12px;
	top: 17px;
}
.counter_box .tk_counter::after {
	font-size: 24px;
}
.counter_box .tk_counter {
	font-size: 24px;
}
.tk_countdown_time {
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.counter_box .tk_text {
	font-size: 12px;
}
}
@media (max-width: 380px) {
.lr_wrap .card-body {
	padding: 15px;
}
.lr_wrap label {
	font-size: 14px;
	margin-bottom: 5px;
}
.lr_wrap .form-group {
	margin-bottom: 10px;
}
.card-body {
	padding: 15px;
}
.login_list_body > div::before {
	left: -15px;
	width: calc(100% + 30px);
}
.styledSelect,
.select_options li,
.form-control {
	font-size: 14px;
}
.input_cols .select_box {
	margin-left: 5px;
}
.styledSelect::before {
	right: 7px;
	top: 2px;
}
.input_cols .select_box:first-child {
	width: 420px;
}
}
.btn-logout {
	background-color: #007bff;
	padding: 7px;
	color: white;
	border-radius: 3px;
}

.toggle-btn {
	height: 20px;
}

.led {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}

.wifi {
	height: 20px;
	margin-left: 10px;
}

.margin-left-30 {
	margin-left: 30px;
}

.padding-20 {
	padding: 10px !important;
}

textarea {
	overflow-y: scroll;
	height: 200px;
	width: 100%;
	border: none;
}